<main class="row justify-content-center">
    <div class="container my-3">
      <div class="row align-items-lg-stretch">
        <div class="col">
          <div class="row justify-content-end">
            <img class="logo-login" src="../../../assets/logo-tienda.png" alt="">
          </div>
          <div class="text-center">
            <h3 class="fw-bold">Bienvenido/a <span id="nombre"></span></h3>
          </div>
          
 
          <!-- Login -->
          <form [formGroup]="form" (ngSubmit)="validarUsuario()">
            <div class="mb-4">
              <label for="email" class="form-label"
                >Correo electrónico
              </label>
              <input type="email" class="form-control" formControlName="email" required>
            </div>
            <div class="mb-4">
              <label for="password" class="form-label">Contraseña </label>
              <input type="password" class="form-control" formControlName="password" required>
            </div>
            <div class="mb-4">
              <input type="checkbox" name="recordarme" class="form-check-input">
              <label class="form-check-label">Recordarme</label>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">
                Iniciar sesión
              </button>
            </div>
            <div class="my-3">
              <span
                >Si no tienes cuenta,
                <a routerLink="/Registro"> Regístrate</a></span
              >
              <br>
              <span
                ><a href="recuperar-clave.html">
                  Recuperar contraseña</a
                ></span
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
