<main class="row justify-content-center">
	<div class="container my-3">
		<div class="row align-items">
			<div class="row justify-content-center">
				<img class="logo-login" src="../../../assets/logo-tienda.png" alt="Logo">
			</div>
			<div class="text-center">
				<h3 class="fw-bold">Registro de nuevo usuario</h3>
			</div>

			<form [formGroup]="profileForm" class="register-form">
				<label for="nombre" class="form-label">Nombre:
					<input type="text" class="form-control" id="nombre" name="nombre" formControlName="nombre" placeholder="Jose" required>
					<div *ngIf="nombre && nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
						<div *ngIf="nombre.errors?.['required']">
							Nombre es un campo requerido.
						</div>
						<div *ngIf="nombre.errors?.['minlength']">
							El nombre debe tener al menos 3 caracteres.
						</div>
					</div>
				</label>
				<label for="apellido" class="form-label">Apellido:
					<input type="text" class="form-control" id="apellido" name="apellido" formControlName="apellido" placeholder="Hernandez" required>
					<div *ngIf="apellido && apellido.invalid && (apellido.dirty || apellido.touched)" class="alert alert-danger">
						<div *ngIf="apellido.errors?.['required']">
							Apellido es un campo requerido.
						</div>
						<div *ngIf="apellido.errors?.['minlength']">
							El apellido debe tener al menos 3 caracteres.
						</div>
					</div>
				</label>
				<label for="dni" class="form-label">DNI:
					<input type="number" class="form-control" id="dni" name="dni" formControlName="dni" placeholder="Ej: 20111222"
						required>
					<div *ngIf="dni && dni.invalid && (dni.dirty || dni.touched)" class="alert alert-danger">
						<div *ngIf="dni.errors?.['required']">
							DNI es un campo requerido.
						</div>
						<div *ngIf="dni.errors?.['min'] || dni.errors?.['max']">
							El DNI debe tener 7 u 8 caracteres.
						</div>
					</div>
				</label>
				<label for="tel" class="form-label">Teléfono:
					<input type="tel" class="form-control" id="tel" name="tel" formControlName="telefono" required placeholder="Código de área sin el 0 y número sin el 15">
					<div *ngIf="telefono && telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">
						<div *ngIf="telefono.errors?.['required']">
							Teléfono es un campo requerido.
						</div>
						<div *ngIf="telefono.errors?.['pattern']">
							El teléfono debe tener 10 números Ej:3512543876.
						</div>
					</div>
				</label>
				<label for="email" class="form-label">Email:
					<input type="email" class="form-control" id="email" name="email" formControlName="email" placeholder="joseh@gmail.com" required>
					<div *ngIf="email && email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
						<div *ngIf="email.errors?.['required']">
							Email es un campo requerido.
						</div>
						<div *ngIf="email.errors?.['email']">
							El formato del email debe ser válido.
						</div>
					</div>
				</label>
				<label for="pass1" class="form-label">Contraseña:
					<input type="password" class="form-control" id="pass1" name="pass1" formControlName="password1" required>
					<div *ngIf="password1 && password1.invalid && (password1.dirty || password1.touched)" class="alert alert-danger">
						<div *ngIf="password1.errors?.['required']">
							Contraseña es un campo requerido.
						</div>
						<div *ngIf="password1.errors?.['minlength'] || password1.errors?.['maxlength']">
							El formato de la contraseña debe ser entre 6 y 20 caracteres.
						</div>
					</div>
				</label>
				<label for="pass2" class="form-label">Repetir contraseña:
					<input type="password" class="form-control" id="pass2" name="pass2" formControlName="password2" required>
					<div *ngIf="password2 && password2.invalid && (password2.dirty || password2.touched)" class="alert alert-danger">
						<div *ngIf="password2.errors?.['required']">
							Contraseña es un campo requerido.
						</div>
						<div *ngIf="password2.errors?.['minlength'] || password2.errors?.['maxlength']">
							El formato de la contraseña debe ser entre 6 y 20 caracteres.
						</div>
					</div>
				</label>
				<button type="submit" [disabled]="!profileForm.valid" class="btn btn-primary">Crear cuenta</button>
				<span>Si ya tienes cuenta, <a routerLink="/Login"> Logueate</a></span> <br>
			</form>
		</div>
	</div>
</main>
