.container {
  max-width: 500px;
  min-height: 500px;
  padding: 20px;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
  margin: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logo-login {
  width: 120px;
  display: block;
  margin: 0 auto;
}
