<article>
  <div class="cart-item">
    <img src="../../../assets/raleigh-1.jpg" alt="Test" />
    <div class="cart-item-info">
      <h1>Venzo Frida</h1>
      <div>
        <p><b>Precio unitario:</b> $185000</p>
        <p><b>Cantidad:</b> 2</p>
      </div>
      <!-- <span class="remove-item" (click)="removeItem(product.id)">remove</span> -->
    </div>
    <img
      class="trash-icon"
      src="../../../assets/icons/trash.svg"
      alt="Icono de borrado"
      (click)="showToDo()"
    />
  </div>
</article>
