<main>
  <section class="product-section">
    <img [src]="bike.imagen" [alt]="bike.marca"/>
    <div class="detail-section">
      <h1>{{ bike.marca }} {{bike.modelo}}</h1>
      <h2 class="price">{{ bike.precio | currency : "$" : "symbol" : "1.2-2" }}</h2>
      <div>
        <h2>Detalles</h2>
        <ul>
          <li>Material: Aluminio <!-- {{ bike.material }} --></li>
          <li>Marca: Raleigh <!-- {{ bike.marca }} --></li>
          <li>Estilo: Mountain Bike <!-- {{ bike.estilo }} --></li>
          <li>Color: Negro/Fucsia <!-- {{ bike.color }} --></li>
          <li>Rodado: 29 <!-- {{ bike.rodado }} --></li>
        </ul>
      </div>
      <div>
        <h2>Descripción</h2>
        <p>
          <!-- {{ bike.material }} -->
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum
          consequuntur dolores aliquid, fuga, autem accusantium sit vero rem cum
          animi neque necessitatibus iure! Iusto, corporis ut sapiente tenetur
          expedita accusamus? Sunt quia necessitatibus vel fugiat
        </p>
      </div>
    </div>
  </section>
</main>
