<main>
  <section class="product-section" *ngIf="bike">
    <img [src]="bike.imagen" [alt]="bike.marca" />
    <div class="detail-section">
      <div class="inCantidad">
        <button type="button" class="item-cart-btn" (click)="addItemCart(bike.id)">
          <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            color="#CACBCC"
            class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart"
          >
            <path d="M0 0h24v24H0z" stroke="none" />
            <path
              d="M4 19a2 2 0 1 0 4 0 2 2 0 1 0-4 0m11 0a2 2 0 1 0 4 0 2 2 0 1 0-4 0"
            />
            <path d="M17 17H6V3H4" />
            <path d="m6 5 14 1-1 7H6" /></svg
            >Agregar
        </button>
        <label for="cantidad" class="form-label">
          Cantidad:
            <input name="cantidad" type="number" min="1" [max]="bike.stock" value="1" 
              [(ngModel)]="cantidad">
        </label>
      </div>
        <h1>{{ bike.marca }} {{ bike.modelo }}</h1>
      <h2 class="price">
        {{ bike.precio | currency : "$" : "symbol" : "1.2-2" }}
      </h2>
      <div>
        <h2>Detalles</h2>
        <ul>
          <li>Material: {{ bike.material }}</li>
          <li>Marca: {{ bike.marca }}</li>
          <li>Estilo: {{ bike.estilo }}</li>
          <li>Color: {{ bike.color }}</li>
          <li>Rodado: {{ bike.rodado }}</li>
        </ul>
      </div>
      <div>
        <h2>Descripción</h2>
        <p>
          {{ bike.detalle }}
        </p>
      </div>
    </div>
  </section>
</main>
