.btn-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.btn {
  margin-right: 10px;
  border-radius: 20px;
  padding: 5px 20px;
}

.router-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

@media (max-width: 511px) {
  .router-container {
    padding: 10px;
  }
}

@media (max-width: 476px) {
  .btn-group {
    flex-direction: column;
    gap: 10px;
  }

  .btn-group .btn {
    width: 80%;
    margin: 0 auto;
    font-size: 0.8em;
    border-radius: 20px;
  }
}
