<main>
    <div class="container">
        <h2>Dashboard</h2>
      
        <!-- Resumen de Compras -->
        <div class="card my-4">
          <div class="card-header">
            Resumen de Compras
          </div>
          <div class="card-body">
            <p>Detalles de la última compra:</p>
            <ul>
              <li>Número de Pedido: #12345</li>
              <li>Productos Comprados: Bicicleta de montaña, Casco, Guantes</li>
              <li>Total Gastado: $500</li>
            </ul>
          </div>
        </div>
      
        <!-- Estado del Envío -->
        <div class="card my-4">
          <div class="card-header">
            Estado del Envío
          </div>
          <div class="card-body">
            <p>Información de envío:</p>
            <ul>
              <li>Fecha Estimada de Entrega: 10 de mayo de 2024</li>
              <li>Número de Seguimiento: 123456789</li>
              <li>Medio de Envío: Envío Express</li>
            </ul>
          </div>
        </div>
      
        <!-- Historial de Compras -->
        <div class="card my-4">
          <div class="card-header">
            Historial de Compras
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Número de Pedido</th>
                  <th>Productos Comprados</th>
                  <th>Total Gastado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>#12345</td>
                  <td>Bicicleta de montaña, Casco, Guantes</td>
                  <td>$500</td>
                </tr>
                <!-- Agrega más filas con datos de historial de compras si es necesario -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
</main>