<main>
  <div class="main-card">
    <img
      src="../../../assets/imagen-portada.jpg"
      alt="Imagen central de una persona andando en bicicleta"
    />
    <div>
      <h1>Aventura y Libertad en Dos Ruedas</h1>
      <label class="centered-text">
        En Tienda Full, creemos que cada viaje en bicicleta es una nueva oportunidad para descubrir el mundo. Desde bicicletas de montaña hasta modelos urbanos elegantes, ofrecemos una amplia gama de bicicletas diseñadas para cada tipo de ciclista. Equípate con lo mejor y siéntete libre en cada ruta.
      </label>
      <a class="item-card-btn" routerLink="/productos">Comprar</a>
    </div>
  </div>
</main>
