<main class="container my-3">
  <div class="row align-items-lg-stretch">
    <div class="col">
      <div class="row justify-content-end">
        <img class="logo-login" src="../../../assets/logo-tienda.png" alt="Logo Tienda Full" />
      </div>
      <div class="text-center">
        <h3 class="fw-bold">Recuperar contraseña</h3>
      </div>
      <form [formGroup]="form" (ngSubmit)="recoverPassword()">
        <div class="mb-4">
          <label for="email" class="form-label">Correo electrónico</label>
          <input
            id="email"
            type="email"
            class="form-control"
            formControlName="email"
            required
          />
        </div>
        <div class="d-grid mb-3">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!form.valid"
          >
            Enviar correo de recuperación
          </button>
        </div>
        <div class="my-3">
          <span
            >¿Quieres volver a <a routerLink="/inicio-sesion">Iniciar sesión</a>?</span
          >
        </div>
      </form>
    </div>
  </div>
</main>
