<div class="card-body">
  <table class="table">
    <thead>
      <tr>
        <th>Número de pedido</th>
        <th>Productos comprados</th>
        <th>Importe total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>#12545</td>
        <td>Bicicleta de montaña, Marca: Venzo, Modelo: Vulcan</td>
        <td>$250.000</td>
      </tr>
      <tr>
        <td>#12300</td>
        <td>Bicicleta de ruta, Marca: Colner, Modelo: Ares</td>
        <td>$115.000</td>
      </tr>
      <tr>
        <td>#10500</td>
        <td>Monopatin eléctrico, Marca: Kany, Modelo: C80</td>
        <td>$85.000</td>
      </tr>
    </tbody>
  </table>
</div>
