<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bienvenidos/as a nuestra página de bicicletas">
    <link rel="shortcut icon" href="../assets/icons/favicon.png" type="image/x-icon">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous">
    <link rel="stylesheet" href="../acerca-de-nosotros/acerca-de-nosotros.component.css">
    <title>Acerca de nosotros | Tienda Full</title>
  </head>
  <body>
    <main class="info-page">
      <h1>Quienes somos</h1>
      <p>Somos una empresa nacida en Córdoba capital, Argentina, dedicada la distribución y difusión del ciclismo en Argentina que brinda información y servicios adaptados a las necesidades de cada cliente, ya sea aficionado, profesional o colega del rubro.</p>
      <h2>Valores</h2>
      <p>Nos caracterizamos por brindar un excelente servicio de venta y pos-venta con orientación a resultados; siempre enmarcados bajo el respeto, la honestidad y la eficiencia. Buscando la mejora continua y comprometida con la responsabilidad social al brindar posibilidades laborales a personas con nuestros mismos valores.</p>
      <h2>Misión y visión</h2>
      <p>En este emocionante rincón virtual, te sumergirás en el apasionante mundo
      de las dos ruedas. Ya sea que seas un ciclista experimentado o estés dando
      tus primeros pedaleos, aquí encontrarás todo lo que necesitas para
      satisfacer tu pasión por las bicicletas. Nuestra misión es promover un
      estilo de vida activo y sostenible, impulsado por la libertad de moverte
      sobre dos ruedas. Las bicicletas no solo son vehículos, sino compañeras de
      aventuras que te llevarán a explorar nuevas rutas, conectar con la
      naturaleza y mejorar tu salud física y mental. En esta página, te
      ofrecemos una amplia variedad de bicicletas que se adecuen según tu
      estilo. Así que prepárate para rodar con nosotros y descubrir el mundo
      desde una perspectiva única. ¿Estás listo para pedalear hacia la aventura?
      ¡Súbete a tu bicicleta y comencemos este emocionante viaje juntos!</p>
      <section>
        <h2>Nosotros</h2>
        <p>Te presentamos el equipo que hace posible a Tienda full:</p>
        <ul class="lista-desarralladores">
          <li>
            <h3>Ancillotti Lautaro</h3>
            <img src="../../../assets/profiles/lautaro.jpg" alt="Ancillotti Lautaro">
          </li>
          <li>
            <h3>Barletta Fernando</h3>
            <img src="../../../assets/profiles/fernando.jpeg" alt="Barletta Fernando">
          </li>
          <li>
            <h3>Blasiche Andres</h3>
            <img src="../../../assets/profiles/andres.jpeg" alt="Blasiche Andres">
          </li>
          <li>
            <h3>Cabrera Veronica</h3>
            <img src="../../../assets/profiles/veronica.jpeg" alt="Cabrera Veronica">
          </li>
          <li>
            <h3>Castillo Fernanda</h3>
            <img src="../../../assets/profiles/fernanda.png" alt="Castillo Fernanda">
          </li>
          <li>
            <h3>Krenn Federico</h3>
            <img src="../../../assets/profiles/federico.jpeg" alt="Krenn Federico">
          </li>
          <li>
            <h3>Liendo Germán</h3>
            <img src="../../../assets/profiles/german.jpg" alt="Liendo Germán">
          </li>
          <li>
            <h3>Caminos Diego</h3>
            <img src="../../../assets/profiles/diego.jpg" alt="Liendo Germán">
          </li>
          <li>
            <h3>Gillini Emiliano</h3>
            <img src="../../../assets/profiles/emiliano.jpg" alt="Liendo Germán">
          </li>
        </ul>
      </section>
      <img src="../../../assets/bicicletas.jpg" alt="Imagen de nuestro salon de ventas con bicicletas">
    </main>    
    <!-- Icons -->
    <script
      src="https://kit.fontawesome.com/94c0117dd6.js"
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
