main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 1.5em;
  margin: 30px 0 10px 0;
}

img {
  max-width: 800px;
  object-fit: contain;
  display: block;
  margin: 60px auto 40px auto;
}

.lista-desarrolladores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  margin: 60px 0;
}

.lista-desarrolladores h3 {
  font-size: 1em;
  font-weight: bold;
}

.lista-desarrolladores img {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}
