<footer class="contact-info">
  <p>¡Síguenos en redes sociales!</p>
  <ul>
    <li>
      <a href="https://www.facebook.com/" target="_blank"
        ><i class="fa-brands fa-facebook"></i>
        <fa-icon [icon]="faFacebook"></fa-icon
      ></a>
    </li>
    <li>
      <a href="https://twitter.com/" target="_blank"
        ><fa-icon [icon]="faTwitter"></fa-icon
        ><i class="fa-brands fa-twitter"></i
      ></a>
    </li>
    <li>
      <a href="https://www.instagram.com/" target="_blank"
        ><fa-icon [icon]="faInstagram"></fa-icon
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </li>
  </ul>
  <p>Teléfono: +54 (351) 456-7890</p>
</footer>
