<main>
    <h1>Productos en venta:</h1>
    <div class="main-section">
      <div class="item-card">
        <img src="../../../assets/raleigh-1.jpg" alt="Bicicleta Raleigh">
        <h2>Raleigh M2.0</h2>
        <h3>$200.000</h3>
        <a class="item-card-btn" href="../pages/producto/1">Ver detalle</a>
      </div>
      <div class="item-card">
        <img src="../../../assets/trinx-gravel-1.jpg" alt="Bicicleta Trix">
        <h2>Trinx Gravel</h2>
        <h3>$350.000</h3>
        <a class="item-card-btn" href="../pages/producto/2">Ver detalle</a>
      </div>
      <div class="item-card">
        <img src="../../../assets/venzo-frida-1.jpg" alt="Bicicleta Venzo Frida">
        <h2>Venzo Frida</h2>
        <h3>$189.000</h3>
        <a class="item-card-btn" href="../pages/producto-/3">Ver detalle</a>
      </div>
    </div>
  </main>