.container {
    max-width: 500px;
    min-height: 500px;
    padding: 20px;
    margin: 0 auto; /* Centra el contenedor */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h3 { /* Modificado de h1 a h3 para coincidir con tu HTML */
    margin: 10px 0; /* Añadido margen inferior para separar del formulario */
    text-align: center; /* Centra el texto */
}

.logo-login {
    width: 80px;
    display: block; /* Hace que la imagen sea un bloque */
    margin: 0 auto; /* Centra la imagen */
}